@font-face {
    font-family: 'univers_55regular';
    src: url('./webfont/univers_55_regular-webfont.woff2') format('woff2'),
         url('./webfont/univers_55_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;

}

@font-face {
    font-family: "unv55";
    src: url("./webfont/univers_55_bold-webfont.woff") format("woff"),
    src: url("./webfont/univers_55_bold-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "unv55";
    src: url("./webfont/univers_55_italic-webfont.woff") format("woff"),
    src: url("./webfont/univers_55_italic-webfont.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
}


/* MAIN STYLING*/

* {
    margin: 5px;  
    padding: 0; 
    font-family: 'unv55', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size:1.35vmax;
    text-align: left;
}

body {
    background-color: #bc0202;
    color: #ffffff;
    margin:8svh;
}

p {
    padding-top: 10px;
}

hr {
    border-top: 2px solid #ffffff;
}


.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, [col] 2fr ) ;
    grid-template-rows: repeat(4, [row] auto  );
  }

  .box {
    all:unset;
    cursor: pointer;
    padding: 0.8vmax 0 0.8vmax 0;
    background-color:#bc0202;
    color: #ffffff;
  }

a {
  color: #ffffff;
  text-decoration: none;
}


  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)*/ 
  .active {
    
  } 
  
  .box:hover {
    /*background-color: rgb(255, 74, 74);*/
  }



  #a {
    grid-column: col 1;
    grid-row: row auto;
    border-bottom: 2px solid #ffffff;
  }

  #b {
    grid-column: col 1;
    grid-row: row auto;
    border-bottom: 2px solid #ffffff;
  }

  #c {
    grid-column: col 1 / span 2;
    padding-top: 25px;
    grid-row: row auto;
    display: none;

  }

  .d{
    grid-column: col 1 / span 3;
    grid-row: row auto;
    display: none;
    grid-gap: 0px;
    padding: 0px;
    grid-template-columns: 30% 30% 1fr 0.75fr ;
    border-bottom: 2px solid #ffffff;
  }

  

  .e {
    grid-column: 1 ;
    grid-row: 1;
  }

  .f {
    grid-column: 2;
    grid-row: 1;
  }

  .g {
    grid-column: 3;
    grid-row: 1;
  }

  .h {
    grid-column: 4;
    grid-row: 1;
  }

